body, html {
  background: #f6f8fc;
  height: 100%
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 99%;
}

.App-link {
  color: #61dafb;
}

#username {
  height: 30px;
  width: 300px;
}

.hover-div:hover {
  cursor: pointer;
  color: #2f80eb;
}

.lite-btn {
  background: #fff;
  color: #191d32;
  border: 1px solid #eee;
}

.dark-btn {
  background: #0c77eb;
  border: 1px solid #eee;
  color: #fff;
}

button {
  padding: 10px;
}


.lite-btn:hover {
  background: #2f80eb;
  cursor: pointer;
  color: #fff;
}

.msg-container {
  background: #fff;
  padding: 20px;
  width: 50%;
  box-shadow: 0px 0px 15px -10px #ccc;
  text-align: left;
  margin: 5px 15px;
  color: #b5b7bd;
}

.other-user {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.current-user {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.send-msg {
  width: 10%;
  flex-direction: column;
  align-items: center;
  color: rgb(25, 29, 50);
  padding: 19px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-top: 1px solid rgb(221, 221, 221);
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.spinner {
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.spinner::after,
.spinner::before {
  content: '';
  display: block;
  border-radius: 50%;
}

.spinner-action::after {
  border: 2px solid #eee;
  border-bottom-color: #395C6B;
  border-right-color: #395C6B;
  position: absolute;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
