.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

#username {
  height: 30px;
  width: 300px;
}

.hover-div:hover {
  cursor: pointer;
  color: orange;
}

button {
  padding: 10px;
  border: 1px solid #eee;
}

button:hover {
  background: #ddd;
  cursor: pointer;
}

.spinner {
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.spinner::after,
.spinner::before {
  content: '';
  display: block;
  border-radius: 50%;
}

.spinner-action::after {
  border: 2px solid #eee;
  border-bottom-color: #395C6B;
  border-right-color: #395C6B;
  position: absolute;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
